@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(230, 227, 227);
}

/*

NAV

*/

nav {
  display: flex;
  justify-content: center;
}

.nav__container {
  height: 7vh;
  width: 100%;
  max-width: 1200px;
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav__item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  color: black;
  height: 100%;
  transition: 500ms ease;
  gap: 8px;
}

.logo__text {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue__bg {
  background: rgb(51, 51, 151);
  color: white;
  padding: 12px;
  border-radius: 20px;
}

/*

MAIN PAGE

*/

.container {
  padding: 44px 0;
  min-height: 70vh;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.row__column {
  flex-direction: column;
  align-items: center;
}

.area {
  display: flex;
  width: 100%;
}

.area__left {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.area__right {
  width: 40%;
}

.area__title {
  font-size: 64px;
  margin-top: 24px;
}

.area__img {
  width: 100%;
  background: transparent;
  transform: scaleX(-1);
}

.area__description {
  font-size: 24px;
  margin-top: 12px;
}

.btn {
  font-size: 24px;
  padding: 24px;
  width: 55%;
  border: none;
  border-radius: 50px;
  margin: 24px 0 12px 0;
  cursor: pointer;
}

.blue {
  color: rgb(51, 51, 151);
}

/*

FEATURE

*/

.feature__minititle {
  font-size: 24px;
  margin-bottom: 12px;
}

.feature__title {
  font-size: 48px;
}

.feature__description {
  width: 100%;
  max-width: 60%;
  font-size: 18px;
  line-height: 29px;
  color: #7c8ba1;
  font-weight: 500;
  text-align: center;
  padding: 24px 0;
}

.features__table {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction: row;
  gap: 20px;
  line-height: 2;
  justify-content: center;
  width: calc(100% / 3);
  padding: 20px;
  height: 280px;
}

.icon {
  border: 2px solid rgb(93, 92, 92);
  padding: 14px;
  border-radius: 50%;
  color: rgb(51, 51, 151);
  transform: scale(1.3);
}

.features__para {
  color: #7c8ba1;
}

/*

scroll

*/

.scroll {
  opacity: 1;
  visibility: visible;
  transition: all 400ms 600ms;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

/* 

STEPS

*/

.steps__img--container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__textarea {
  width: 50%;
  display: flex;
  padding: 0px 24px;
  flex-direction: column;
}

.steps__title {
  font-size: 48px;
}

.step {
  display: flex;
  margin: 20px 0;
}

.number {
  font-size: 36px;
  color: #7c8ba1;
  padding: 12px 24px;
}

/*

FOOTER

*/

footer {
  display: flex;
  justify-content: center;
}

.footer__container {
  padding: 48px 24px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #7c8ba1;
}

.footer__logo {
  font-size: 54px;
}

.footer__rights {
  font-size: 18px;
}

/*

LOGIN

*/

.container__login {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  width: 80%;
  display: flex;
  border-radius: 8px;
  background: linear-gradient(145deg, #3737a2, #2e2e88);
  box-shadow: 5px 5px 22px #14143c, -5px -5px 22px #5252f2;
}

.login__form--container {
  width: 50%;
}

.login__image {
  width: 50%;
}

.row__login {
  display: flex;
  justify-content: center;
}

.login__img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.login__form {
  padding: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__title {
  font-size: 32px;
  margin-bottom: 24px;
}

#username,
#password,
#btn {
  padding: 12px 24px;
  border-radius: 12px;
  width: 90%;
  margin-bottom: 18px;
  border: 1px solid #14143c;
  border-radius: 4px;
  background: #d6d1d1;
  box-shadow: 5px 5px 10px #9c9999, -5px -5px 10px #ffffff;
}

#btn {
  width: 50%;
  margin-top: 20px;
  cursor: pointer;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__input {
  margin-right: 12px;
}

/*

REGISTER

*/
.container__register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.row__register {
  display: flex;
  justify-content: center;
}

.register__form--container {
  width: 80%;
  border-radius: 30px;
  background: #d2d0d0;
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 60px #595858, -20px -20px 60px #ffffff;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 24px;
}

.register__form--left {
  padding: 60px 24px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid black;
}
.register__form--right {
  padding: 24px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__title {
  font-size: 22px;
  text-align: center;
}

.btn__register {
  background-color: rgb(51, 51, 151);
  border: none;
  font-size: 24px;
  color: white;
  padding: 12px 24px;
  margin-top: 24px;
  border-radius: 20px;
  cursor: pointer;
}

.detail__label {
  font-size: 24px;
  margin-top: 12px;
}

select {
  border: none;
  padding: 12px;
  border-radius: 20px;
  margin-top: 12px;
}

.quick__title {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.quick__register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.quick__icons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.quick__icon {
  height: 40px;
  width: 40px;
}
